page-ranking {
        .c1{background-color:rgb(177, 36, 36); }
        .c2{background-color:rgb(49, 128, 49); }
        .c3{background-color:rgb(93, 127, 199); }
        .c4{background-color: rgb(212, 95, 183); }
        .c5{background-color:rgb(218, 206, 45); }    
}
